@mixin primaryBtn($bgClr, $fontClr) {
  outline: none;
  border: none;
  min-width: 18.271%;
  height: 46px;
  padding: 0 40px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  background-color: $bgClr;
  cursor: pointer;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
    box-shadow 0.15s ease-in-out;
  color: $fontClr;
  a {
    color: $fontClr;
  }
  &:hover {
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    background-color: $fontClr;
    font-weight: 500;
    color: $bgClr;
    a {
      color: $bgClr;
    }
  }
}
